* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

.contanier {
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgb(52, 86, 139);
    padding: 20px;
    border-radius: 10px;


}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 22.5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-sizing: none;
    ;
}

.equal{
    width: 145px;
    font-weight: bold;
    color: #05e9bf;
}

.operator{
    color: #05e9bf;
}

.calculator input:hover{
    transform: scale(1.25);
    transition: 0.75s;
}

.calculator input:active{
    transform: scale(0.82);
    transition: 0.4s;
}
form .display input:hover{
transform: scale(1);
}
